﻿@charset "utf-8";
/*=========================Reset_start==========================*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
/*设置内外边距为0*/
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma;text-align: left;}  /*设置字体:以此类推*/
ul,ol{list-style: none;}/*无序列表样式为无*/
img{border: 0 none;}   /*ie6以下兼容性问题     图片无边框*/
input,select,textarea{outline:0;}    /*去除移动到input上的蓝色阴影*/
textarea{resize:none; overflow: auto;}  /*多行文本框   禁止拖拽边框      出现滚动条  */        
table{border-collapse: collapse; border-spacing: 0;} /*合并表格单元格边框,边框距离为0*/ 
th,strong,var,em{font-weight: normal; font-style: normal;}  /*设置字体粗细  字体样式正常*/
a{text-decoration: none;}  /*设置超链接下划线为无*/
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
/*==========================Reset_End===========================*/

