<template>
  <div class="users">
    <!-- 面包屑 -->
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/home/users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 查询框 -->
    
    <!-- 表格 -->
    <el-table border style="width: 100%;" :data="list" height="400">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column label="用户头像" prop="head">
        <template slot-scope="scope">
          <div>
            <img :src="scope.row.head" alt class="head" />
          </div>
        </template>
      </el-table-column>
      <el-table-column label="用户名称" prop="name"></el-table-column>
      <el-table-column label="学校" prop="school"></el-table-column>
      <el-table-column label="入学时间" prop="year"></el-table-column>
      <el-table-column label="获赞数量" prop="count"></el-table-column>
      

      
    </el-table>
    <el-pagination
      @current-change="handlePageChange"
      :total="total"
    ></el-pagination>
    
  </div>
</template>
<script>
import { http, uploadURL } from "../../http";
import dayjs from "dayjs";
export default {
  data() {
    return {
      list: [],
      params:{
          page:1,
          size:10
      },
      total:0,
      pages:0,
    };
  },
  methods: {
    //获取用户列表
    async getData() {
      var res = await http("/User/findAll", "post",{...this.params});
      this.list = res.data.records;
      this.total=res.data.total
      this.pages=res.data.pages
    },
    //页码改变
    handlePageChange(num){
        this.params.page = num;
        this.getData();
    },
    
  },
  mounted() {
    this.getData();
  }
};
</script>
<style lang="scss" scoped>
.users {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
}
.check > .el-input {
  width: 350px;
  margin-top: 20px;
}
.adduser {
  margin-left: 10px;
}
.el-table {
  border: 1px solid #dcdfe6;
  margin-top: 20px;
}
.head {
  width: 30px;
  height: 30px;
}
.el-pagination {
  margin-top: 15px;
}
.UserAllotform {
  margin-top: 20px;
}
</style>