<template>
  <div class="users">
    <!-- 面包屑 -->
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/home/users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>问题收集</el-breadcrumb-item>
      <el-breadcrumb-item>问题列表</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 查询框 -->

    <!-- 表格 -->
    <el-table border style="width: 100%;" :data="list" height="400">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <!-- <el-table-column label="标题" prop="title"></el-table-column> -->
      <el-table-column label="用户头像" prop="userHead">
          <template slot-scope="scope">
              <img :src="scope.row.userHead" alt="" class="imgs">
          </template>
      </el-table-column>
      <el-table-column label="用户名称" prop="userName"></el-table-column>
      
      <el-table-column label="问题" prop="text" :show-overflow-tooltip="true"></el-table-column>
      <el-table-column label="回答状态" prop="addTime">
          <template slot-scope="scope">
              <div>{{scope.row.respondType?"已回答":"未回答"}}</div>
          </template>
      </el-table-column>
      <el-table-column label="回答时间" prop="respondTime"></el-table-column>
      <el-table-column label="添加时间" prop="addTime"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click="delectTitle(scope.row.questionId)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination @current-change="handlePageChange" :total="total"></el-pagination>
    <!-- 如果你每页的条目数少于10条，则需要设置
    :page-size="pagesize"
    "pagesize"是你在data里面设置的每页有多少条的名字；
    如果不设置这个在显示的时候会按照你设置好的条数进行显示，但是他会按照每页10条来显示下面的分页码 -->
  </div>
</template>
<script>
import { http, uploadURL } from "../../http";
import dayjs from "dayjs";
export default {
  data() {
    return {
      list: [],
      params: {
        page: 1,
        size: 10,
        title:""
      },
      total: 0,
    };
  },
  methods: {
    //获取意见列表
    async getData() {
      var res = await http("/Question/findAll", "post", { ...this.params });
      console.log(res);
      this.list = res.data.records;
      this.total = res.data.total;
    },
    //页码改变
    handlePageChange(num) {
      this.params.page = num;
      this.getData();
    },
    //删除意见
    delectTitle(id){
        console.log(id)
    }
  },
  mounted() {
    this.getData();
  }
};
</script>
<style lang="scss" scoped>
.users {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
}

.check > .el-input {
  width: 350px;
  margin-top: 20px;
}
.adduser {
  margin-left: 10px;
}
.el-table {
  border: 1px solid #dcdfe6;
  margin-top: 20px;
}
.head {
  width: 30px;
  height: 30px;
}
.el-pagination {
  margin-top: 15px;
}
.UserAllotform {
  margin-top: 20px;
}
.imgs{
    width: 80px;
    height: 80px;
}
</style>