<template>
  <div class="home">
    <el-container style="height: 100vh;">
      <el-aside style="width:auto">
        <el-menu
          active-text-color="#fff"
          text-color="#999"
          background-color="#001529"
          :router="true"
          :default-active="defaultActive"
          :collapse="isCollapse"
          class="el-menu-vertical-demo"
        >
          <h3>大佬解疑</h3>
          <el-submenu v-for="item in menu" :key="item.id" :index="''+item.id">
            <template slot="title">
              <i v-if="item.path=='subject'" class="el-icon-user"></i>
              <i v-if="item.path=='user'" class="el-icon-help"></i>
              <i v-if="item.path=='title'" class="el-icon-document"></i>
              <i v-if="item.path=='options'" class="el-icon-mobile"></i>
              <i v-if="item.path=='message'" class="el-icon-shopping-cart-full"></i>
              <span>{{item.authName}}</span>
            </template>
            <el-menu-item
              v-for="_item in item.children"
              :key="_item.id"
              :index="'/home/'+_item.path"
            >{{_item.authName}}</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header style="text-align: right; font-size: 12px">
          
          <p style="float:left;font-size:25px">
            <span class="el-icon-caret-right" v-if="isCollapse" @click="isCollapse=false"></span>
            <span class="el-icon-caret-left" v-else @click="isCollapse=true"></span>
          </p>

          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="signOut()">退出</el-dropdown-item>
              <el-dropdown-item @click.native="dialogPwd=true">修改密码</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{username}}</span>
        </el-header>

        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
    <!-- 修改密码弹窗 -->
    <el-dialog title="修改密码" :visible.sync="dialogPwd">
      <el-form :model="changePassword">
        <el-form-item label="密码" label-width="80px">
          <el-input v-model="changePassword.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="更改密码" label-width="80px">
          <el-input v-model="changePassword.newPassword" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogPwd = false">取 消</el-button>
        <el-button type="primary" @click="changePwd">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { http } from "../http";
import { mapMutations } from "vuex";
export default {
  data() {
    return {
      menu: [
        {
          id: 125,
          authName: "学科管理",
          path: "subject",
          children: [
            {
              id: 110,
              authName: "学科分类",
              path: "subject",
              children: [],
              order: null
            }
          ],
          order: 1
        },
        {
          id: 103,
          authName: "用户管理",
          path: "user",
          children: [
            {
              id: 111,
              authName: "用户列表",
              path: "user",
              children: [],
              order: null
            }
          ],
          order: 2
        },
        {
          id: 101,
          authName: "问题管理",
          path: "title",
          children: [
            {
              id: 104,
              authName: "问题列表",
              path: "title",
              children: [],
              order: 1
            }
          ],
          order: 3
        },
        {
          id: 102,
          authName: "意见反馈",
          path: "options",
          children: [
            {
              id: 107,
              authName: "意见列表",
              path: "options",
              children: [],
              order: null
            }
          ],
          order: 4
        },
        {
          id: 145,
          authName: "公告",
          path: "message",
          children: [
            {
              id: 146,
              authName: "公告列表",
              path: "message",
              children: [],
              order: null
            }
          ],
          order: 5
        }
      ],
      defaultActive: this.$route.path,
      username: localStorage.getItem("username"),
      changePassword: {
        username: localStorage.getItem("username"),
        password: "",
        newPassword: ""
      },
      dialogPwd: false,
      isCollapse: false
    };
  },
  methods: {
    ...mapMutations(["resetState"]),
    //获取左侧边栏数据

    signOut() {
      localStorage.clear();
      // this.$store.commit("resetState")
      //也可以用辅助函数
      this.resetState();
      this.$router.push("/login");
    },
    changePwd() {
      console.log(this.changePassword);
      this.dialogPwd = false;
    }
  },
  mounted() {},
  watch: {
    $route: {
      handler(val) {
        const arr = this.$route.path.split("/");
        if (arr.length > 3) {
          arr.splice(arr.length - 1, 1);
        }
        let str = arr.join("/");
        this.defaultActive = str;
      },
      immediate: true
    }
  }
};
</script>
<style lang="scss" scoped>
.el-menu {
  background: #001529;
  color: #999;
  border-right: none;
  height: 100vh;
  overflow: hidden;
  h3 {
    color: #fff;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
  }
  .el-submenu {
    background: #001529;
  }
}
.el-menu-item {
  background: #001529;
}
.el-header {
  border-bottom: 1px solid #ccc;
  line-height: 60px;
}
.el-main {
  padding: 15px;
  box-sizing: border-box;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
</style>