<template>
  <div class="subject">
    <!-- 面包屑 -->
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/home/users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>学科管理</el-breadcrumb-item>
      <el-breadcrumb-item>学科分类</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 查询框 -->
    <el-button style="margin-top:20px" type="primary" @click="showeditSub()">新增学科</el-button>
    <!-- 表格 -->
    <el-table border style="width: 100%" :data="list">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column label="学科名称" prop="name"></el-table-column>
      <el-table-column label="图片" prop="img">
        <template slot-scope="scope">
          <div>
            <img :src="scope.row.img" alt class="imgs" />
          </div>
        </template>
      </el-table-column>

      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click="showeditSub(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click="delectSub(scope.row.subjectId)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 编辑弹窗 -->
    <el-dialog :title="title" :visible.sync="editSubDialog">
      <el-form :model="editSubParams">
        <el-form-item label="学科名称" label-width="80px">
          <el-input v-model="editSubParams.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="学科图片" label-width="80px">
          <el-upload :action="uploadURL" list-type="picture-card" 
          :on-success="handlePictureCardPreview"
          :on-remove="handleRemove">
            <i slot="default" class="el-icon-plus"></i>
            <div slot="file" slot-scope="{file}">
              <img class="el-upload-list__item-thumbnail" :src="file.url" alt />
              <span class="el-upload-list__item-actions">
                <span
                  v-if="!disabled"
                  class="el-upload-list__item-delete"
                  @click="handleRemove(file)"
                >
                  <i class="el-icon-delete"></i>
                </span>
              </span>
            </div>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editSubDialog = false">取 消</el-button>
        <el-button type="primary" @click="editSub">提交</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { http, uploadURL } from "../../http";
import dayjs from "dayjs";
export default {
  data() {
    return {
      list: [],
      editSubDialog: false,
      editSubParams: {
        name:"",
        subjectId:"",
        img:""
      },
      dialogImageUrl: "",
      dialogVisible: false,
      disabled: false,
      uploadURL:uploadURL,
      title:"新增学科"
    };
  },
  methods: {
    //获取用户列表
    async getData() {
      var res = await http("/Subject/findAll", "post");
      // console.log(res);
      this.list = res.data;
    },
    //删除学科
    async delectSub(id) {
      console.log(id);
    },
    //显示编辑弹窗
    showeditSub(obj) {
      if(obj){
        this.title="编辑学科";
        this.editSubParams = obj;
        this.editSubDialog = true;
      }else{
        this.title="新增学科";
        this.editSubDialog = true;
      }
      
      
    },
    //提交编辑
    editSub() {
      // console.log(this.dialogImageUrl)
      this.editSubParams.img=this.dialogImageUrl
      // console.log(this.editSubParams.img);
    },
    //图片操作  删除图片
    handleRemove(file) {
      console.log(file);
    },
    //已上传文件
    handlePictureCardPreview(file) {
      // console.log(file)
      this.dialogImageUrl = file.data;
      this.dialogVisible = true;
    }
  },
  mounted() {
    this.getData();
  }
};
</script>
<style lang="scss" scoped>
.subject {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
}
.check > .el-input {
  width: 350px;
  margin-top: 20px;
}
.adduser {
  margin-left: 10px;
}
.el-table {
  border: 1px solid #dcdfe6;
  margin-top: 20px;
}
.imgs {
  width: 160px;
  height: 80px;
}
.el-pagination {
  margin-top: 15px;
}
.UserAllotform {
  margin-top: 20px;
}
</style>