<template>
  <div class="users">
    <!-- 面包屑 -->
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/home/users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>公告</el-breadcrumb-item>
      <el-breadcrumb-item>公告列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" style="margin-top:20px" @click="showeditMsg()">新增消息</el-button>
    <!-- 表格 -->
    <el-table border style="width: 100%;" :data="list" height="400" >
      <el-table-column type="index" width="50" label="#"></el-table-column>

      <el-table-column label="标题" prop="title"></el-table-column>
      <el-table-column label="内容" prop="text" :show-overflow-tooltip="true"></el-table-column>
      <el-table-column label="添加时间" prop="addTime"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click="showeditMsg(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click="delectSub(scope.row.noticeId)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination @current-change="handlePageChange" :total="total"></el-pagination>

    <!-- dialog -->
    <el-dialog :title="title" :visible.sync="messageDialog">
  <el-form :model="msgParams">
    <el-form-item label="活动名称" label-width="80px">
      <el-input v-model="msgParams.title" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="活动区域" label-width="80px">
      <el-input type="textarea" v-model="msgParams.text"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="messageDialog = false">取 消</el-button>
    <el-button type="primary" @click="postMsg">确 定</el-button>
  </div>
</el-dialog>
  </div>
</template>
<script>
import { http, uploadURL } from "../../http";
import dayjs from "dayjs";
export default {
  data() {
    return {
      list: [],
      msgParams: {
        noticeId:"",
        title:"",
        text:""
      },
      total: 0,
      messageDialog:false,
      title:"新增消息"
    };
  },
  methods: {
    //获取用户列表
    async getData() {
      var res = await http("/Notice/findAll", "post", { ...this.params });
    //   console.log(res);
      this.list = res.data.records;
      this.total = res.data.total;
      this.pages = res.data.pages;
    },
    //页码改变
    handlePageChange(num) {
      this.params.page = num;
      this.getData();
    },
    // 显示操作dialog
    showeditMsg(obj){
        if(obj){
            this.title="新增消息"
            this.msgParams.noticeId=obj.noticeId
            this.msgParams.title=obj.title
            this.msgParams.text=obj.text
            this.messageDialog=true
        }else{
            this.title="编辑消息",
            this.messageDialog=true
        }
    },
    //编辑提交
    postMsg(){
        console.log(this.msgParams)
        this.messageDialog=false
    },
    //删除公告
    delectSub(id){
        console.log(id)
    }
  },
  mounted() {
    this.getData();
  }
};
</script>
<style lang="scss" scoped>
.users {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
}
.check > .el-input {
  width: 350px;
  margin-top: 20px;
}
.adduser {
  margin-left: 10px;
}
.el-table {
  border: 1px solid #dcdfe6;
  margin-top: 20px;
}
.head {
  width: 30px;
  height: 30px;
}
.el-pagination {
  margin-top: 15px;
}
.UserAllotform {
  margin-top: 20px;
}
</style>